page-home {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .high {
    border-left: 2px solid red;
    padding-left: 4px;
  }
  .low {
    border-left: 2px solid green;
    padding-left: 4px;
  }
  .normal {
    border-left: 2px solid rgb(22, 22, 75);
    padding-left: 4px;
  }

  .done {
    text-decoration: line-through;
  }

  .Done {
    height: 30px;
    width: 30px;
  }
  .checked {
    height: 25px;
    width: 25px;
  }

  .notDone {
    height: 30px;
    width: 30px;
  }
}
