<ion-header>
  <ion-navbar color="primary">
    <ion-title>TODO Task</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="AddTask()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-list>

    <ion-item *ngIf="!tasks.length">
      No Task
      <p>Click
        <ion-icon name="add-circle"></ion-icon> to add task</p>
    </ion-item>

    <ion-item-sliding *ngFor="let t of tasks">

      <ion-item>
        <div class="container">
          <div class="contanct-details">
            <p [ngClass]="t.status">{{t.task}}</p>
            <p [ngClass]="t.priority">{{t.priority}}</p>
          </div>
          <button ion-button right clear icon-only color="secondary" (click)="toggleConnectivity(t.id)">
            <img *ngIf="t.isdone" src="assets/imgs/link.svg" alt="">
            <img *ngIf="!t.isdone" class="checked" src="assets/imgs/checked.svg" alt="">
          </button>
        </div>


      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="primary" (click)="UpdateModel(t)">
          <ion-icon name="clipboard"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (click)="Deletetask(t.id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>

      </ion-item-options>

    </ion-item-sliding>


  </ion-list>

</ion-content>