<ion-header>
  <ion-navbar color="primary">
    <ion-title>TODO Task</ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="AddTask()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <ion-list>

    <ion-item *ngIf="!tasks.length">
      No Task
      <p>Click
        <ion-icon name="add-circle"></ion-icon> to add task</p>
    </ion-item>

    <ion-item-sliding *ngFor="let t of tasks">

      <ion-item>
        <ion-toggle checked="{{(t.status == 'pending')?false:true}}" (click)="doneTask(t.id,t.status)"></ion-toggle>
        <ion-label>
          <h2 [ngClass]="t.status"> {{t.task}}</h2>
          <p [ngClass]="t.priority">{{t.priority}}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="primary" (click)="UpdateModel(t)">
          <ion-icon name="clipboard"></ion-icon>
          Edit
        </button>
        <button ion-button color="danger" (click)="Deletetask(t.id)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>

      </ion-item-options>

    </ion-item-sliding>


  </ion-list>

</ion-content>